<h1>About</h1>
<p>This is a web application that allows users to create private events and invite other users.</p>
<p>The website was built with Ruby on Rails and works with associations between data models 
that go beyond the defaults provided by Rails.</p>
<p>It's part of the Odin Project's <%= link_to "curriculum", 'https://www.theodinproject.com/lessons/associations#project-2-private-events', target: '_blank', rel: 'noopener' %>.</p>
<p>The source code can be found on <%= link_to "GitHub", 'https://github.com/alexcorremans/private-events', target: '_blank', rel: 'noopener' %>.</p>