<h1>About</h1>
<p>This is a 'proof of concept' web application that allows users to create private events and invite other users.</p>
<p>It has the following features:
<ul>
  <li>Sign up as a new user entering username and email</li>
  <li>Log in using username (no password) and log out</li>
  <li>View your profile page</li>
  <li>Create new events</li>
  <li>Send invitations to other users</li>
  <li>View pending invitations and either accept or decline them</li>
  <li>View upcoming events</li>
  <li>View previously attended events</li>
</ul>
<p>I made this app using Ruby on Rails as part of the Odin Project's 
<%= link_to "curriculum", 
'https://www.theodinproject.com/lessons/associations#project-2-private-events', target: '_blank', rel: 'noopener' %>. 
The source code can be found on <%= link_to "GitHub", 'https://github.com/alexcorremans/private-events', target: '_blank', rel: 'noopener' %>.</p>